
<div class="container col-xxl-8 px-4 py-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6">
			<%= image_tag("party.jpg", class: "img-fluid")%>
		</div>
		<div class="col-lg-6">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h2 class="fw-bold display-5">Event Planning Portfolio Project</h2>
				</div>
			</div>

			<div class="lc-block mb-3">
				<div editable="rich">
					<p class="lead">A general purpose app to create and schedule events. Create an account or sign in to get started!</p>
				</div>
			</div>

			<div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
        <%= link_to "Create an account", new_user_registration_path, class: "btn btn-primary px-4 me-md-2" %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-secondary px-4" %>
			</div>

		</div>
	</div>
</div>

